.about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px;
    background-color: #f5f5f5;
}

.aboutLines {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 20px;
    padding: 20px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 6px;
}

.line {
    background-color: white;
}

.lineMain {
    background-color: white;
    font-size: 30px;
    font-weight: bolder;
}
