@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.filmsCards {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;
    font-family: "Roboto", sans-serif;
}
