@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.footer {
    background-color: #333333;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 32px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    font-family: "Roboto", sans-serif;
}

.footer div {
    background-color: #333333;
    color: white;
    cursor: pointer;
}
